span.px16padding0700 {
    font-size: 16px;
    padding: 0 5px 0 0;
}


div#darktoggle {
    position: fixed;
    right: 10px;
    top: 10px;
}

a#homelink {
    position: fixed;
    left: 11px;
    top: 3px;
    font-size: 30px;
    text-decoration: none;
}

a#homelink:hover {
    text-decoration: underline;
}
