@font-face{
    font-family:"essays1743";
    src:url("./fonts/essays1743-min.ttf");
}

@font-face{
    font-family:"urani";
    src:url("./fonts/urania.ttf");
}


.essay {
    font-family:"essays1743";
}

.urani {
    font-family:"urani";
}

body {
    color: #FFFFFF;
    background-color: #150517;
}

h1,h2,h3,h4 {
    font-family:"essays1743";
}

p,li {
    font-family:"urani";
    width: 70%;
    font-size: 14pt;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #FFE87C;
    cursor: pointer;
    font-size: 14pt;
}

footer {
    font-size:8pt;
}

article {
    width:75%;
}
